 <div class="container">
      <main>
        <div class="py-5 text-center">
          <img src="../img/LOGO.png" alt="No carga la imagen">
          <h2>Formato de Mantenimiento</h2>
          <p class="lead">Por favor No OLVIDAR hacer firmar </p>
        </div>
    <div class="container">
          <form class="needs-validation" novalidate="">
            <div class="container">
              <div class="row">

              <div class="col-3">
                <label for="nameClient" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="nameClient" placeholder="Ingrese el Nombre del Cliente" required>
              </div>
           
            <div class="col-2">
              <button type="button" class="btn btn-success">Cargar</button>
            </div>

            <hr class="my-4">
            </div>
            </div>
          </form>
        
      </div>
          
      </main>
    
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017–2021 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.0/examples/checkout/#">Privacy</a></li>
          <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.0/examples/checkout/#">Terms</a></li>
          <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.0/examples/checkout/#">Support</a></li>
        </ul>
      </footer>
    </div>
<router-outlet></router-outlet>