
  <div class="col-md-7 col-lg-12">
    <form class="needs-validation" novalidate="">
      <div class="row g-3">
        <div class="col-sm-4">
          <label for="nameClient" class="form-label">Cliente</label>
          <input type="text" class="form-control" id="nameClient" placeholder="Ingrese el Nombre del Cliente" required>
        </div>
        <div class="col-md-3">
          <label for="typeEquipment" class="form-label">Tipo de Equipo</label>
          <select class="form-select" id="typeEquipment" required>
            <option value="" selected>Impresora Termica</option>
            <option value="">Lector</option>
          </select>
          <div class="invalid-feedback">
            Please select one.
          </div>
        </div>
        <div class="col-sm-4">
          <label for="modelEquipment" class="form-label">Modelo</label>
          <input type="text" class="form-control" id="modelEquipment" value="ZM400" required="">
        </div>

        <div class="col-sm-4">
          <label for="brandEquipment" class="form-label">Marca</label>
          <input type="text" class="form-control" id="brandEquipment" value="ZEBRA" required="">
        </div>

        <div class="col-sm-4">
          <label for="serialNumber" class="form-label">Numero de Serie</label>
          <input type="email" class="form-control" id="serialNumber" placeholder="# Serie Maquina">
        </div>

        <div class="col-sm-4">
          <label for="actf" class="form-label"># Activo Fijo<span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="actf" placeholder="8J12345" required="">
        </div>

        <div class="col-sm-4">
          <label for="counterNreset" class="form-label">Contador NO Reiniciado<span class="text-muted">(PG)</span></label>
          <input type="text" class="form-control" id="counterNreset" placeholder="4PG">
        </div>

        <div class="col-sm-4">
          <label for=" location" class="form-label">Ubicacion<span class="text-muted">(Area)</span></label>
          <input type="text" class="form-control" id="location" placeholder="Area de Empresa">
        </div>

        <div class="col-sm-4">
          <label for="drakness" class="form-label">Contraste<span class="text-muted">(Oscuridad)</span></label>
          <input type="text" class="form-control" id="drakness" value="15">
        </div>  

      </div>

      <hr class="my-4">

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="same-address">
        <label class="form-check-label" for="same-address">Mantenimiento Preventivo</label>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="save-info">
        <label class="form-check-label" for="save-info">Mantenimiento Correctivo</label>
      </div>

      <div class="form-floating">
        <textarea class="form-control" placeholder="Descripcion de Labor" id="descripcion"></textarea>
      </div>

      <hr class="my-4">
      
      <div class="col-sm-10">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Recomendaciones" id="fTecnico"></textarea>
        </div>
      </div>

      <hr class="my-4">

      <h4 class="mb-3">Firmas</h4>

      <div class="col-sm-5">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Descripcion o Nota" id="fTecnico"></textarea>
          <label class="form-check-label" for="fTecnico">Firma Tecnico</label>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Descripcion o Nota" id="fCliente"></textarea>
          <label class="form-check-label" for="fCliente">Firma Cliente</label>
        </div>
      </div>

      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar Mantenimiento</button>
    </form>
  </div>
